<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="css/ratchet.css"/>
		<link rel="stylesheet" href="css/styles.css"/>
		<script type="text/javascript">
    window.onerror = function(message, url, lineNumber) {
        console.log("Error: "+message+" in "+url+" at line "+lineNumber);
    }
		</script>
		<!-- Libs -->
		<script src="lib/jquery/jquery-2.0.0.min.js"></script>
		<script src="lib/backbone/underscore-1.4.4.min.js"></script>
		<script src="lib/backbone/backbone-1.0.0.min.js"></script>
		<script src="lib/cordova-2.3.0.js"></script>
		<script src="lib/forcetk.mobilesdk.js"></script>
		<script src="lib/cordova.force.js"></script>
		<script src="lib/smartsync.js"></script>
		<script src="lib/fastclick.js"></script>
		<script src="lib/stackrouter.js"></script>
		
		<!-- App -->
		<script src="app/init.js"></script>
	</head>
	<body>
		<div id="content"></div>
		<!-- 
			Templates 
		-->

		<!-- Search page template -->
		<script id="search-page" type="text/template">
			<header class="bar-title">
				<h1 class="title">Opportune</h1>
				<a class="button" href="#add">Create</a>
			</header>
			<footer class="bar-footer">
				<span id="offlineStatus"></span>
			</footer>

			<div class="bar-standard bar-header-secondary">
				<input type="search" class="search-key" placeholder="Search"/>
			</div>

			<div class="content">
				<ul class="list"></ul>
			</div>
		</script>

		<!-- Online/Offline Toggler Template -->
		<script id="offline-toggler" type="text/template">
			<a class="<%= isOnline ? 'button-positive' : 'button-negative' %>"><%= (isOnline ? "Online" : "Offline") %></a>
		</script>

		<!-- Sync Page Template -->
		<script id="sync-page" type="text/template">
			<header class="bar-title">
				<a class="button-prev">Back</a>
				<h1 class="title">Sync</h1>
			</header>

			<footer class="bar-footer">
				<span class="button-positive">Online</span>
			</footer>

			<div class="bar-standard bar-header-secondary">
				<a class="button button-block sync">Process <%= countLocallyModified %> records</a>
			</div>

			<div class="content">
				<ul class="list"></ul>
			</div>
		</script>

		<!-- Opportunity list item Template -->
		<script id="opportunity-list-item" type="text/template">
			<a href="#edit/opportunities/<%= Id %>">
				<div>
					<span class="important"><%= Name %></span><br/>
					$<%= Amount %><br/>
					<span class="not-important"><%= StageName %></span><br/>
					<% if (__sync_failed__) { %>
					<span class="count-negative">Failed to sync</span>
					<% } else if (__local__) { %>
					<span class="count-main">Locally<%= (__locally_created__ ? " created" : "") + (__locally_updated__ ? " updated" : "") + (__locally_deleted__ ? " deleted" : "") %></span>
					<% } else { %>
					<span class="count-positive">Cached</span>
					<% } %>
				</div>
			</a>
		</script>

		<!-- Add/edit opportunity page template -->
		<script id="edit-opportunity-page" type="text/template">
			<header class="bar-title">
				<a class="button-prev">Back</a>
				<h1 class="title"><%= action %> Opportunity</h1>
				<a class="button toggleDelete">Delete</a>
			</header>

			<footer class="bar-footer">
				<span id="offlineStatus"></span>
			</footer>

			<div class="content">
				<div class="content-padded">

					<% if (__local__) { %>
					<span class="count-main">Locally<%= (__locally_created__ ? " created" : "") + (__locally_updated__ ? " updated" : "") + (__locally_deleted__ ? " deleted" : "") %></span><br/><br/>
					<% } %>

					<div class="input-group">
						<div class="input-row" id="opportunityName">
							<label>Name</label>
							<input type="text" name="Name" value="<%= Name %>" />
							<span class="error" id="opportunityNameError" />
						</div>
						<div class="input-row" id="opportunityAmount">
							<label>Amount</label>
							<input type="text" name="Amount" value="<%= Amount %>" />
							<span class="error" id="opportunityAmountError" />
						</div>
						<div class="input-row" id="opportunityStageName">
							<label>Stage</label>
							<input type="text" name="StageName" value="<%= StageName %>" />
							<span class="error" id="opportunityStageNameError" />
						</div>
						<% if (LastModifiedDate) { %>
						<div class="input-row">
							<label>Owner</label>
							<input type="text" value="<%= Owner.Name %>" readonly />
						</div>
						<div class="input-row">
							<label>Last Modified</label>
							<input type="text" value="<%= LastModifiedBy.Name + ' on ' + LastModifiedDate %>" readonly />
						</div>
						<% } %>
					</div>
					<a class="button save">Save</a>
					<a class="button merge">Merge</a>
					<a class="button overwrite">Overwrite</a>
				</div>
			</div>
		</script>

		<!--Models-->
		<script src="app/models/OfflineTracker.js"></script>
		<script src="app/models/Opportunity.js"></script>
		<script src="app/models/OpportunityCollection.js"></script>
		<!--Views-->
		<script src="app/views/SearchPage.js"></script>
		<script src="app/views/OpportunityList.js"></script>
		<script src="app/views/OpportunityListItem.js"></script>
		<script src="app/views/OfflineToggler.js"></script>
		<script src="app/views/SyncPage.js"></script>
		<script src="app/views/EditOpportunityPage.js"></script>

		<script src="app/Router.js"></script>
	</body>
</html>